<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="teletabyDB"
            connectionString="Data Source=localhost;Initial Catalog=teletabyDB;Integrated Security=True"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="fromEmail" value="rendelesleadas123@gmail.com"/>
      <add key="fromEmailPW" value="JelszoJelszo123"/>
      
      <add key="toEmail" value="nagysa1121@gmail.com"/>
      
      <add key="archiveFilePath" value="C:\test\"/>
    </appSettings>
</configuration>